.wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px 0;
}

.container {
  display: grid;
  gap: 0 36px;
  grid-template-columns: repeat(2, 1fr);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 0 16px;
  display: flex;
  flex-wrap: wrap;
}

.success {
  color: #0cc;
}

.total {
  text-shadow: 0 4px 32px rgba(51, 51, 255, .50), 0 0 8px rgba(51, 51, 255, .25), 0 0 16px rgba(51, 51, 255, .25);
}
