.item {
  gap: 0 8px;
  padding: 0 8px 0 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.active {
  transition: all .3s ease;
  background-color: rgba(0,0,0,0);
}

.hover {
  transition: all .3s ease;
  background-color: rgba(0,0,0,.5);
}
