.section {
  flex-grow: 1;
  width: 100%;
  max-width: 1280px;
  padding: 0 0 40px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  flex-grow: 1;
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ai_center {
  align-items: center;
}

.type_grid {
  gap: 0 60px;
  display: grid;
  grid-template-columns: 320px 1fr;
}
