.item {
  gap: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all .3s ease;
}

.item:before {
  content: '';
  opacity: 0;
  position: absolute;
  top: -4px;
  left: -4px;
  bottom: -4px;
  right: -4px;
  box-shadow: 0 0 0 8px #4C4CFF;
  transition: all .3s ease;
}

.item_dragged:before {
  opacity: .8;
}

.title {
  text-align: center;
}

.meta {
  gap: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
